{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #F0F0F0;">
    <form style="text-align: center;" action="" method="post"> {% csrf_token %}
        <!--h2>Descargar Reporte Ordenes</h2-->
        <div style="display: none;">
        <input type="date" name="date" id="date">
        <br>
        <input type="checkbox" name="export_to_CSV" id="export_to_CSV" checked>Descargar CSV
        </div>
        <img style="width: 150px;" src="{% static 'main/img/Download.gif' %}" alt="img_workstation">
        <hr style="opacity: 0.10;">
        <!--input style="background-color: #4CAF50; border-color: black; color: black;" type="submit" value="DESCARGAR" -->
        <button style="border-color: #F0F0F0;" type="submit"><img src="{% static 'main/img/descar.png' %}" alt="eliminar"></button>
        <hr style="opacity: 0.10;">
</form>

</body>
</html>

